* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
  background-color: hsl(185, 41%, 84%);
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 37rem;
}

header {
    text-align: center;
}

header figure {
    max-width: 50%;
    margin: 4rem auto 3rem;
}

main {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
  border-radius: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

/* TEXT INPUT STYLES  */

input[type='text'] {
    border: none;
    background-color: hsl(200, 1%, 86%);
    padding-right: 1.5rem;
}

input[type='text']::placeholder {
  color: hsl(184, 14%, 56%);
  text-align: right;
}

#custom-tip::placeholder {
  color: hsl(183, 100%, 15%);
  font-weight: 600;
}

.input-group > label {
  font-size: 1.3rem;
  font-weight: 500;
  color: hsl(183, 100%, 15%);
}

.input-container {
    position: relative;
    height: 3.5rem;
    min-width: 100%;
    margin-top: 0.8rem;
}

.input-container input {
    min-width: 100%;
    min-height: 100%;
}

.input-container img {
    max-width: 1rem;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}


/* BUTTON GROUP */
.input-group.btns {
    flex-direction: row;
}

.input-group.btns > button {
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  padding: 0.5rem 2rem;
}


/* DISPLAY INFO */

.info-display {
  background-color: hsl(183, 100%, 15%);
}

.tip-info h2,
.total-info h2 {
  color: hsl(189, 41%, 97%);
}

.per-person {
    color: hsl(184, 14%, 56%);
}

.price {
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}

/* RESET BUTTON  */

#reset {
    border: none;
    min-width: 100%;
    padding: 1rem 0;
    background-color: hsl(184, 14%, 56%);
    color: hsl(186, 14%, 43%);
    font-weight: 600;
}