*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --labels: 1.3rem;
  --inputs: 2rem;
  --price: 3rem;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
  background-color: hsl(185, 41%, 84%);
}

body {
  min-width: 37rem;
  position: relative;
}

header {
  text-align: center;
  margin: 5rem 0 3rem;
}

main {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 4rem;
  margin-bottom: 1rem;
  border-radius: 2.5rem;
}

footer {
  position: absolute;
  right: 0;
  max-width: 50%;
  text-align: right;
}

input,
button,
#custom-tip {
  font-family: inherit;
}

/* INPUT STYLES  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='number'] {
  border: none;
  border-radius: 0.2rem;
  background-color: hsl(200, 1%, 86%);
  color: hsl(183, 100%, 15%);
  padding-right: 1.5rem;
  text-align: right;
  font-weight: 600;
  font-size: var(--inputs);
  letter-spacing: 0.2rem;
}

input[type='number']:focus {
  outline: 0.2rem solid hsl(172, 46%, 51%);
}

input[type='number']::placeholder {
  color: hsla(186, 14%, 56%, 0.644);
}

#custom-tip::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

/* USER INPUT STYLES */
.input-group > label {
  font-weight: 500;
  font-size: var(--labels);
  color: hsl(186, 14%, 43%);
}

.input-container {
  position: relative;
  min-width: 100%;
  margin-top: 0.8rem;
}

.input-container input {
  min-width: 100%;
  min-height: 3.8rem;
}

.input-container img {
  max-width: 1.2rem;
  position: absolute;
  left: 1.2rem;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
}

/* BUTTON GROUP STYLES */
.input-group.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.input-group.btns label {
  flex: 100%;
}

.input-group.btns > *:not(label) {
  max-width: 47%;
  width: 47%;
  border-radius: 0.4rem;
}

.tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: var(--inputs);
  border: none;
  padding: 1rem 0;
  transition: all 0.2s;
}

.tip-btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* ERROR STYLES FOR NUMBER OF PEOPLE INPUT */
.error-msg {
  color: hsl(0, 61.9%, 67.1%);
  font-weight: 700;
  position: absolute;
  right: 0;
  top: -75%;
  display: none;
}

.error-outline {
  /* let this outline color override the :focus outline color */
  outline: 0.2rem solid hsl(0, 61.9%, 67.1%) !important;
}

/* DISPLAY INFO */
.info-display {
  background-color: hsl(183, 100%, 15%);
  padding: 3rem 1.8rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info h2 {
  color: hsl(189, 41%, 97%);
  flex: 1;
}

.per-person {
  color: hsl(184, 14%, 56%);
  font-size: var(--labels);
}

.price {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: var(--price);
  flex: 2;
  text-align: right;
}

/* RESET BUTTON  */

.reset {
  min-width: 100%;
  border: none;
  margin-top: auto;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.reset-btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  html {
    display: flex;
    justify-content: center;
  }
  body {
    max-width: 85%;
  }
  header {
    margin: 10rem 0 5rem;
  }
  main {
    flex-direction: row;
    gap: 3.5rem;
  }
  .user-inputs {
    flex: 55%;
  }
  .info-display {
    flex: 45%;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --labels: 1.5rem;
    --inputs: 2.2rem;
    --price: 3.6rem;
  }
  header {
    margin: 12rem 0 10rem;
  }
  main {
    padding: 4rem 3rem 3rem;
    box-shadow: 0 0 1rem 0.1rem rgba(131, 131, 131, 0.329);
  }
  .user-inputs {
    flex: 55%;
  }
  .input-group.btns > *:not(label) {
    flex: 1 1 30%;
  }
  .info-display {
    flex: 45%;
    gap: 4rem;
    padding: 3rem 2.5rem 2.5rem;
  }
}
