* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  position: relative;
}

body {
  /* position: relative; */
  min-height: 100vh;
  min-width: 37rem;
}

input,
button,
#custom-tip {
  font-family: inherit;
  font-size: 2rem;
}

header {
  text-align: center;
}

header figure {
  max-width: 50%;
  margin: 4rem auto 3rem;
}

main {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 5rem;
  border-radius: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

/* TEXT INPUT STYLES  */

input[type='text'],
input[type='number'] {
  border: none;
  border-radius: 0.2rem;
  background-color: hsl(200, 1%, 86%);
  color: hsl(183, 100%, 15%);
  padding-right: 1.5rem;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: 0.2rem solid hsl(172, 46%, 51%);
}

input[type='text']::placeholder,
input[type='number']::placeholder {
  color: hsl(184, 14%, 56%);
}

#custom-tip::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}

.input-group > label {
  font-size: 1.3rem;
  font-weight: 500;
  color: hsl(186, 14%, 43%);
}

.input-container {
  position: relative;
  height: 3.5rem;
  min-width: 100%;
  margin-top: 0.8rem;
}

.input-container input {
  min-width: 100%;
  min-height: 3.8rem;
}

.input-container img {
  max-width: 1.2rem;
  position: absolute;
  left: 1.2rem;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
}

/* BUTTON GROUP */
.input-group.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.input-group.btns label {
  flex: 100%;
}

.input-group.btns > *:not(label) {
  min-height: 3.8rem;
  max-width: 47%;
  width: 47%;
  border-radius: 0.4rem;
}

.tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  padding: 1rem 0;
  transition: all 0.2s;
}

.tip-btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* ERROR STYLES FOR NUMBER OF PEOPLE */
.error-msg {
  color: hsl(0, 61.9%, 67.1%);
  font-weight: 700;
  font-size: 1.1rem;
  position: absolute;
  right: 0;
  top: -75%;
  display: none;
}

.error-outline {
  /* let this outline color override the :focus outline color */
  outline: 0.2rem solid hsl(0, 61.9%, 67.1%) !important;
}

/* DISPLAY INFO */

.info-display {
  background-color: hsl(183, 100%, 15%);
  padding: 3rem 1.8rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info h2 {
  color: hsl(189, 41%, 97%);
  flex: 1;
  font-size: 1.3rem;
}

.per-person {
  color: hsl(184, 14%, 56%);
}

.price {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 2.8rem;
  flex: 2;
  text-align: right;
}

/* RESET BUTTON  */

.reset {
  min-width: 100%;
  border: none;
  margin-top: auto;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: hsla(183, 32%, 50%, 0.657);
  color: hsl(186, 20%, 39%);
  font-weight: 500;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    gap: 3.5rem;
  }
  .user-inputs {
    flex: 2;
  }
  .info-display {
    flex: 1;
  }
}
